<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tellsy online chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/chat/style.css?var=3">
</head>
<body>

<div style="display: none;" id="sessionId" th:utext="${sessionId}"></div>
<!--<div style="display: none;" id="sessionId">1</div>-->

<!-- код окно регистрации -->
<div class="backReg">
    <div class="signup">
        <div class="closeSignup" onclick="hideSignup()"></div>
        <p class="textSignup">Войдите, чтобы оставлять комментарии и писать сообщения</p>
        <div class="formsSignup">
            <form class="oneform" id="formSignupUser">
                <div>
                    <input class="inputSignup" id="userName" type="text" th:value="${name}" th:placeholder="${username}" />
                    <div style="color: white; margin-left: 12px; font-size: 10px;">Обязательно</div>
                </div>
                <div>
                    <input class="inputSignup" id="userPhone" type="tel" th:value="${phone}" th:placeholder="${phonename}" />
                    <div style="color: white; margin-left: 12px; font-size: 10px;">Обязательно</div>
                </div>
                <input style="display: none;" class="inputSignup" id="userEmail" type="email" th:value="${email}" placeholder="E-mail" />
                <input th:if="${fields} != null" th:each="Item, state : ${fields}" th:id="${'field' + state.index}" class="inputSignup" type="text" th:value="${Item.user}" th:placeholder="${Item.session}" />
<!--                <p class="textSignup">Или телефон или почта или вместе. Их видят только администраторы.</p>-->
                <div class="rowButtonsBottomG">
                    <input class="submitSignup" type="submit" id="userAuth" value="Подключиться">
                    <!-- <input class="submitSignup" id="closeForm1" type="submit" value="Закрыть"> -->
                </div>
            </form>
            <form class="oneform" id="formSigninUser">
                <input class="inputSignup" type="tel" placeholder="Номер телефона" />
                <input class="submitSignup" type="submit" value="Войти">
            </form>
            <form class="oneform" id="formSignupAdm">
                <input class="inputSignup" id="admInputLogin" type="text" placeholder="Логин" />
                <input class="inputSignup" id="admInputPass" type="password" placeholder="Пароль" />
                <div class="rowButtonsBottomG">
                    <input class="submitSignup" type="submit" id="adminAuth" value="Подключиться">
                    <!-- <input class="submitSignup" id="closeForm2" type="submit" value="Закрыть"> -->
                </div>
            </form>
            <form class="oneform" id="formSigninAdm">
                <input class="inputSignup" type="text" placeholder="Логин" />
                <input class="inputSignup" type="password" placeholder="Пароль" />
                <div class="rowButtonsBottomG">
                    <input class="submitSignup" type="submit" value="Войти">
                    <!-- <input class="submitSignup" onclick="hideSignup()" type="submit" value="Закрыть"> -->
                </div>
            </form>
            <div class="rowButtonSignupG">
                <button onclick="switchTypeSignUp(this)" switchparam="buttonFromUser" class="buttonSignUp buttonSignUp1" active="1">Регистрация для администратора</button>
                <!-- <button onclick="switchUserAdm(this)" switchparam="buttonFromAdmin"  class="buttonSignUp buttonSignUp1" active="0">Для администратора</button> -->
            </div>
        </div>
    </div>
</div>
<!-- конец код окно регистрации -->

<!-- код чата -->
<div class="chatG">
    <!-- блок ввода комментария -->
    <div class="upBlock">
        <div class="blockInputMessage">
            <div class="textareaWithBtn" style="display: flex; justify-content: space-between; width: 100%; background-color: white;">
                <textarea class="textareaWithBtnG" onclick="showSignup()" id="textarea" placeholder="Введите комментарий" name="inputMessage"></textarea>
                <div class="textarea-Btn">
                    <ul class="textarea-Btn-dropbtn textarea-Btn-icons textarea-Btn-btn-right textarea-Btn-showLeft" onclick="showDropdown()">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="textarea-Btn-list">
                        <div id="textarea-Btn-button">Войти</div>
                    </div>
                </div>
            </div>
            <!-- <textarea class="textareaG" oninput="resizeTextarea(this)" id="textarea" placeholder="Введите комментарий" name="inputMessage"></textarea> -->
            <button class="buttonSendG" type="button" onclick="sendMessage()" name="sendInputMessage">Добавить</button>
        </div>
        <div class="blockTyping">
            <p class="textTypingChatG" id="writes" style="color: #FFFFFF;">Загружаю чат...</p>
        </div>
    </div>
    <!-- конец блок ввода комментария -->

    <!-- блок кол-во набирают сообщения -->

    <!-- конец блок подключился к чату -->

    <div class="messagesG">
        <div style="height: 90px; width: 1px;"></div>
        <div id="board">
        </div>
        <button class="uploadMoreG" style="display: none;" id="loading">Загрузить еще</button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    let isAuth = false;

    function showSignup() {
        if (isAuth == true || isAuth === true)
            return ;

        $(".backReg").css("display", "flex");
        setTimeout(function() {
            $(".signup").css("transform", "scale(1)");
        }, 100);

        $("body").css("overflow", "hidden");
    }
    function hideSignup() {
        $(".signup").css("transform", "scale(0)");
        setTimeout(function() {
            $(".backReg").css("display", "none");
            $("body").css("overflow", "auto");
        }, 500);
    }
    function switchUserAdm(el) {
        $(".buttonSignUp1").attr("active", "0");
        $(el).attr("active", "1");
        chooseForm();
    }
    function switchInUp(el) {
        $(".buttonSignUp2").attr("active", "0");
        $(el).attr("active", "1");
        chooseForm();
    }
    function chooseForm(i) {
        var switchparam = $(".buttonSignUp1[active='1']").attr("switchparam");

        $(".oneform").css("display", "none");

        if (switchparam == "buttonFromUser") {
            $("#formSignupUser").css("display", "flex");
        } else if (switchparam == "buttonFromAdmin") {
            $("#formSignupAdm").css("display", "flex");
        }
    }
    function switchTypeSignUp(el) {
      var switchparam = $(el).attr("switchparam");

      $(".oneform").css("display", "none");
      if (switchparam == "buttonFromUser") {
        $("#formSignupAdm").css("display", "flex");
        $(el).attr("switchparam", "buttonFromAdmin");
        $(el).html("Регистрация для пользователя");
      } else if (switchparam == "buttonFromAdmin") {
        $("#formSignupUser").css("display", "flex");
        $(el).attr("switchparam", "buttonFromUser");
        $(el).html("Регистрация для администратора");
      }
    }
    //oninput="resizeTextarea(this)"
    // function resizeTextarea(e) {
    //   var rows = $(e).val().split('\n').length;
    //   var heightRow = 14;
    //
    //   if (rows <= 2) {
    //     $(e).css("height", heightRow*2+"px");
    //   } else if (rows > 2) {
    //     $(e).css("height", heightRow*rows+"px");
    //   }
    // }
    // function resizeTextareaReply(e) {
    //   var rows = $(e).val().split('\n').length;
    //   var heightRow = 14;
    //   $(e).css("height", heightRow*rows+"px");
    // }
    function showInputReply(el) {
      if (isAuth == true || isAuth === true) {
        $(el).parent().children(".buttonReply.buttonReply2").attr("active", "1");
        $(el).parent().children(".textareaG.textareaReplyG").attr("active", "1");
        $(el).attr("active", "0");
      } else  {
        showSignup();
      }
    }
    function showInputReply1(el) {
      if (isAuth == true || isAuth === true) {
        var obj = $(el).parent().parent().parent().parent().children(".replyOMG").children(".replyInputBlock");
        console.log(obj.html());
        obj.children(".buttonReply.buttonReply2").attr("active", "1");
        obj.children(".textareaG.textareaReplyG").attr("active", "1");
        $(el).attr("active", "0");
      } else  {
        showSignup();
      }
    }
    //listeners
    var downPressSignup = false;
    $(document).mousedown(function (e){
        if (!$(".signup").is(e.target) && $(".signup").has(e.target).length === 0 && $(".backReg").css("display") == "flex") {
            downPressSignup = true;
        } else {
            downPressSignup = false;
        }
    });
    $(document).mouseup(function (e){
        if (!$(".signup").is(e.target) && $(".signup").has(e.target).length === 0 && downPressSignup) {
            hideSignup();
        } else {
            downPressSignup = false;
        }
    });
    $("#textarea").on("keydown", controllEnter);


    function controllEnter (e) {
        if (e.code == "Enter" && !e.shiftKey) {
            setTimeout(sendMessage, 10);
        }
    }

    function controllEnterComment(e) {
        if (e.keyCode === 13 && !e.shiftKey) {
            let id = this.id.split("_")[1];

            setTimeout(function () {
                sendComment(id);
            }, 10);
        }
    }

    function showDropdown() {
        document.querySelector(".textarea-Btn-list").classList.toggle("display-show");
    }

    window.addEventListener("click", function(event) {
        if (!event.target.matches('.textarea-Btn-dropbtn') && !event.target.matches('#textarea-Btn-button')) {
            var dropdowns = document.querySelector(".textarea-Btn-list");

            if (dropdowns.classList.contains('display-show')) {
                dropdowns.classList.remove('display-show');
            }
        }
    });
</script>
<!-- конец код чата -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script src="/chat/auth.js?var=20"></script>
<script src="/chat/listMessages.js?var=9"></script>
<script src="/chat/paint.js?var=16"></script>
<script src="/chat/handlers.js?var=10"></script>
<script src="/chat/websocket.js?var=8"></script>
<script src="/chat/cookie.js"></script>
<script src="/chat/autosize.js"></script>
<script src="/chat/session.js?var=12"></script>
<script>
    loadingMessages();
    wsConnection();
    autosize($('#textarea'));
</script>
<script th:if="${auth} == false">
    includeSessionCookie();
</script>
<script th:if="${auth} == true">
    isAuth = true;
    generateAuth(null);
</script>

</body>
</html>